/* Бегущая строка - портфолио */
/* our work */

.container-work {
    margin: 8% 0 10%;
}

.page-top {
    max-width: 100%;
    margin: 0% 10% 5%
}

.our-work-title {
    padding: 0 0;
}

.our-title {
    padding-top: 5px;
}

.rowcol {
    padding: 0px 0px;
}

#presentation-bar .row {
    --bs-gutter-x: none
}



/* Бегущая строка */
.items-wrap {
    margin-top: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
}

.items-wrap:before,
.items-wrap:after {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    /* counter-reset: item; */
    justify-content: space-around;
    min-width: 100%;
}

.item {
    background: #ccc;
    color: #fff;
    margin: 20px 0;

    width: 300px;
    height: 200px;
    border-radius: 8px;
    font-size: 25px;

    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.item-img-1 {
    background: url(../AdvertAgency/img/pressa.jpg) center / cover no-repeat;
}

.item-img-2 {
    background: url(../AdvertAgency/img/ads-metro.jpg) center / cover no-repeat;
}

.item-img-3 {
    background: url(../AdvertAgency/img/bilboard.jpg) center / cover no-repeat;
}

.item-img-4 {
    background: url(../AdvertAgency/img/buklets.jpg) center / cover no-repeat;
}

.item-img-5 {
    background: url(../AdvertAgency/img/flowers.jpg) center / cover no-repeat;
}

.item-img-6 {
    background: url(../AdvertAgency/img/sitylight.jpg) center / cover no-repeat;
}


.item:hover {
    /* transform: scale(1.05); */
    transform: scale(1.4);
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.marquee {
    animation: scroll 25s linear infinite;
}

.reverce {
    animation-direction: reverse;
}

.items-wrap:hover .marquee {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}
